/* Background pattern from Toptal Subtle Patterns */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap&subset-latin-ext');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('../img/triangle-mosaic.png');
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.top-hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-size: cover;
    z-index: 0;
    font-size: 4rem;
    text-transform: uppercase;
}

.alert {
    font-size: 1.5rem;
}

/* ------------------------ */
/* ---- NAV ---- */
/* ------------------------ */

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand i {
    margin-left: 0.2rem;
    font-size: 4rem;
}

.navbar-nav {
    font-size: 2.2rem;
}

/* ------------------------ */
/* ---- ERROR---- */
/* ------------------------ */

main>.error p.display-4 {
    text-transform: uppercase;
}

main>.error .btn {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}

/* ------------------------ */
/* ---- MAIN ---- */
/* ------------------------ */


main>section.login,
main>section.register,
main>section.detail-advert,
main>.user-adverts,
main>.user-data,
main>.add-advert,
main>.change-pass,
main>.delete-acc,
main>.error,
main>.board-empty {
    min-height: calc(100vh - 82.92px - 60px);
}


/* ------------------------ section board-empty*/

.board-empty {
    text-transform: uppercase;
}

.board-empty .btn {
    padding: 0.5em 1em;
    font-size: 1.8rem;
}

/* ------------------------ section board hero & filter*/

section.board-hero {
    background-image: url('../img/board-hero.jpg');
    background-position: center 60%;
}

.board-filter input {
    font-size: 1.4rem;
    font-weight: bold;
}

.board-filter select,
.board-filter label {
    font-size: 1.4rem;
}

.board-filter .btn {
    padding: 0.5rem -1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.board-filter .input-group-text,
.user-data .input-group-text {
    border: 1px solid #343a40;
    border-radius: 0;
    background-color: #343a40;
    color: #fff;
}

/* ------------------------ nav pagination (user-adverts pagination)*/

.pagination .page-item {
    padding: .5rem;
    font-weight: bold;
}

.pagination>li>a {
    background-color: white;
    color: #343a40;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #343a40 !important;
    border: solid 1px #343a40 !important;
}

.pagination>.active>a:hover {
    background-color: #23272b !important;
    border: solid 1px #23272b;
}

/* ------------------------ section advertisements*/

.board-adverts a {
    text-decoration: none;
}

.board-adverts a>p {
    padding: 1em 0;
    font-weight: bold;
}

.board-adverts a>p:hover {
    color: #000 !important;
}

/* ------------------------ section details of advert*/

.detail-advert h2 {
    font-weight: bold;
}

.detail-advert h3 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

.detail-advert .content {
    white-space: pre-line;
}

.detail-advert .btn {
    padding: .5rem 0;
    font-size: 2rem;
}

/* ------------------------ section login*/

.login .login-hero {
    background-image: url('../img/login-hero.jpg');
    background-position: center;
}

.login .form-group {
    font-size: 2.2rem;
}

.login .form-control {
    font-size: 2rem;
}

.login .btn {
    padding: .2em .8em;
    font-size: 2.4rem;
    text-transform: uppercase;
}

/* ------------------------ section register*/

.register .register-hero {
    background-image: url('../img/register-hero.jpg');
    background-position: center 40%;
}

.register .form-group {
    font-size: 2.2rem;
}

.register .form-control {
    font-size: 2rem;
}

.register .btn {
    padding: .2em .8em;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.register .form-text {
    font-size: 1rem;
}

/* ------------------------ */
/* ---- USER PANEL ---- */
/* ------------------------ */

.user-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.user-title i {
    font-size: 4rem;
}

.user-title h2 {
    margin: 0;
    font-size: 3rem;
}

/* ------------------------ header */

.user-panel-header .options a {
    padding: 1rem 0;
    font-size: 2rem;
    text-decoration: none;
    color: #23272b;
    transition: color .3s, background-color .3s;
}

.user-panel-header .options a:hover {
    background-color: #343a40;
    color: #e5e5e5;
}

.user-panel-header .navbar-toggler {
    border: none;
    font-size: 2rem;
    font-weight: bold;
}

.user-panel-header .navbar-toggler i {
    font-size: 5rem;
}

/* ------------------------ user-adverts */

.user-adverts .btn {
    padding: .6em 1em;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* display-adverts */

.user-adverts .display-adverts a {
    text-decoration: none;
}

.user-adverts .display-adverts a>p {
    padding: 1em 0;
    font-weight: bold;
}

.user-adverts .display-adverts a>p:hover {
    color: #000 !important;
}

/* display-advert */
.user-adverts .display-advert .content {
    white-space: pre-line;
}

.user-adverts .display-advert h2 {
    font-weight: bold;
}

.user-adverts .display-advert h3 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

/* edit-advert */

.user-adverts .edit-advert label {
    font-size: 2rem;
}

.user-adverts .edit-advert .form-control {
    font-size: 1.4rem;
}

.user-adverts .edit-advert .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* ------------------------ user-data */

/* add-data */

.user-data .add-data label {
    font-size: 2.2rem;
}

.user-data .add-data .form-control {
    font-size: 2rem;
}

.user-data .add-data select.form-control {
    font-size: 1.4rem;
}

.user-data .add-data .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* show-data */

.user-data .show-data th:first-of-type {
    border: none;
}

.user-data .show-data td {
    padding: 1rem 0;
    font-weight: bold;
}

.user-data .show-data .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
}

/* change-data */

.user-data .change-data {
    max-width: 500px;
    margin: 0 auto;
}

.user-data .change-data label {
    font-size: 2rem;
}

.user-data .change-data .form-control {
    font-size: 1.8rem;
}

.user-data .change-data select.form-control {
    font-size: 1.4rem;
}

.user-data .change-data .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------ add-advert */

.add-advert label {
    font-size: 2rem;
}

.add-advert .form-control {
    font-size: 1.4rem;
}

.add-advert .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------ change-pass */

.change-pass label {
    font-size: 2rem;
}

.change-pass .form-control {
    font-size: 1.8rem;
}


.change-pass .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------ delete-acc */

.delete-acc p.question {
    font-size: 2rem;
    font-weight: bold;
}

.delete-acc label {
    font-size: 2rem;
}

.delete-acc .form-control {
    font-size: 1.8rem;
}


.delete-acc .btn {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------ */
/* ---- FOOTER ---- */
/* ------------------------ */

footer {
    font-size: 2rem;
}

/* ------------------------ */
/* ---- ALERTS ---- */
/* ------------------------ */
.alert {
    text-align: center;
}

.alert>p {
    margin: 0;
}

/* ------------------------ */
/* ---- MEDIA ---- */
/* ------------------------ */

/* ------------------------ */
/* ---- COLORS ---- */
/* ------------------------ */
.c-yellow {
    color: #D9B504;
}

.b-yellow {
    background-color: #D9B504;
}

.c-br-orange {
    color: #F29F05;
}

.b-br-orange {
    background-color: #F29F05;
}

.c-orange {
    color: #D97904;
}

.b-orange {
    background-color: #D97904;
}

.c-red {
    color: #BF0404;
}

.b-red {
    background-color: #BF0404;
}

.c-d-red {
    color: #730202;
}

.b-d-red {
    background-color: #730202;
}