/* Color Theme Swatches in Hex */
.Architecture-1-hex {
    color: #2E3D59;
}

.Architecture-2-hex {
    color: #4A608C;
}

.Architecture-3-hex {
    color: #8A8C51;
}

.Architecture-4-hex {
    color: #71734C;
}

.Architecture-5-hex {
    color: #BFAC95;
}

/* Color Theme Swatches in RGBA */
.Architecture-1-rgba {
    color: rgba(46, 60, 89, 1);
}

.Architecture-2-rgba {
    color: rgba(74, 96, 140, 1);
}

.Architecture-3-rgba {
    color: rgba(138, 140, 81, 1);
}

.Architecture-4-rgba {
    color: rgba(113, 114, 75, 1);
}

.Architecture-5-rgba {
    color: rgba(191, 172, 149, 1);
}

/* Color Theme Swatches in HSLA */
.Architecture-1-hsla {
    color: hsla(219, 31, 26, 1);
}

.Architecture-2-hsla {
    color: hsla(219, 30, 42, 1);
}

.Architecture-3-hsla {
    color: hsla(61, 26, 43, 1);
}

.Architecture-4-hsla {
    color: hsla(61, 20, 37, 1);
}

.Architecture-5-hsla {
    color: hsla(33, 24, 66, 1);
}